.editor {
    min-height: 60vh;
}

.toolbar-item {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 24px;
    padding: 0 5px;
    width: 24px;
}

    .toolbar-item:hover i {
        color: #66ccff;
    }
