.newtopic-container {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;

}

.newtopic-submit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.newtopic-toptoolbar {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 1rem;
}
