.newtopic-container {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    height:calc(100vh - 64px);
    overflow-y: scroll; 
    overflow-x: auto;
}

.newtopic-submit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.newtopic-toptoolbar {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 1rem;
}
