@using System.Text.Json
@using ExilumBBS.Models.DTO.Emoji
@using ExilumBBS.Models.Response.Emoji
@using System.Diagnostics
@inject HttpTools httpTools
@inject IJSRuntime JS

<Popup Visible="Visible" VisibleChanged="VisibleChanged">

    <div id="quill-editor" @ref="QuillElement">
        @EditorContent
    </div>

    <div class="comment-popup-submit">
        <MButton>发送</MButton>
    </div>
    <div class="comment-popup-toolbar">
        <MIcon OnClick="() => OpenEmojiList()">mdi-emoticon-happy-outline</MIcon>
        <MIcon OnClick="() => PickAndShow(PickOptions.Images)">mdi-image</MIcon>
    </div>
    @if (EmojiSelectVisible)
    {
        <div class="comment-popup-emoji">
            <div class="comment-popup-emoji-content">
                @if (emojiList != null && selectedEmoji != null)
                {
                    @foreach (var item in selectedEmoji)
                    {
                        <div class="comment-popup-emoji-content-item" @onclick="() => InsertEmoji(item.UrlPath)">
                            <img src="@item.UrlPath" style="width:100%" />
                            <span>@item.UrlDesc</span>
                        </div>
                    }
                }
            </div>
            <div class="comment-popup-emoji-toolbar">
                @if (emojiList != null)
                {
                    @foreach (var item in emojiList)
                    {
                        <div class="comment-popup-emoji-type-item" @onclick="() => SwitchSelectedEmoji(item.ClassifyId)">
                            <img src="@item.ImgAddr" style="width:100%;" />
                        </div>
                    }
                }
            </div>
        </div>
    }
</Popup>

@code {
    [Parameter]
    public RenderFragment? EditorContent { get; set; }

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback<bool> VisibleChanged { get; set; }

    private ElementReference QuillElement;

    private ElementReference ToolbarElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }

        if (Visible == true)
        {
            await QuillInterop.CreateQuill(
                JS,
                QuillElement,
                false,
                "说点什么",
                "snow",
                "info");
        }
    }

    /// <summary>
    /// 表情选择面板可见性
    /// </summary>
    private bool EmojiSelectVisible { get; set; }

    private List<EmojiCategory>? emojiList { get; set; }

    private List<EmojiItem>? selectedEmoji { get; set; }

    private int selectedClassifyId { get; set; }

    private async Task OnVisibleChanged(bool value)
    {
        await VisibleChanged.InvokeAsync(value);
    }

    private async Task<List<FileResult>?> PickAndShow(PickOptions options)
    {
        try
        {
            var results = await MediaPicker.PickPhotosAsync(new MediaPickerOptions
            {
                // Default is 1; set to 0 for no limit
                SelectionLimit = 10,
                // Optional processing for images
                MaximumWidth = 1024,
                MaximumHeight = 768,
                CompressionQuality = 85,
                RotateImage = true,
                PreserveMetaData = true,
            });

            return results;
        }
        catch (Exception ex)
        {
            // The user canceled or something went wrong
        }

        return null;
    }

    private async Task OpenEmojiList()
    {
        await GetEmojiList();
        EmojiSelectVisible = true;
    }

    private async Task SwitchSelectedEmoji(int ClassifyId)
    {
        if (emojiList != null)
        {
            var selected = emojiList.Where(it => it.ClassifyId == ClassifyId).First();
            selectedEmoji = selected.EmojiList;
            selectedClassifyId = selected.ClassifyId;
        }
    }

    /// <summary>
    /// 获取表情包列表
    /// </summary>
    /// <returns></returns>
    private async Task GetEmojiList()
    {
        var response = await httpTools.GetAsync("/community/emoji");
        if (response != null && response.Code == 0)
        {
            if (response.Data.HasValue)
            {
                var emojiList = response.Data.Value.Deserialize<EmojiResponse>();
                if (emojiList != null && emojiList.List != null)
                {
                    this.emojiList = emojiList.List;
                    this.selectedEmoji = emojiList.List.First().EmojiList;
                    this.selectedClassifyId = emojiList.List.First().ClassifyId;
                }
            }
        }
    }

    private async Task InsertEmoji(string emojiUrl)
    {
        await QuillInterop.InsertQuillEmoji(JS, QuillElement, emojiUrl);
        await QuillInterop.FocusToEnd(JS, QuillElement);
    }
}