@using System.Text.Json
@using ExilumBBS.Models.DTO.Emoji
@using ExilumBBS.Models.Response.Emoji
@using System.Diagnostics
@using ExilumBBS.Models.Response.Signature
@inject HttpTools httpTools
@inject IJSRuntime JS

<Popup Visible="Visible" VisibleChanged="VisibleChanged">

    <div id="quill-editor" @ref="QuillElement">
        @EditorContent
    </div>

    <div class="comment-popup-submit mt-2">
        <MButton OnClick="SendComment">发送</MButton>
    </div>
    <div class="comment-popup-toolbar">
        <MIcon OnClick="() => SwitchEmojiList()">mdi-emoticon-happy-outline</MIcon>
        <MIcon OnClick="() => PickAndUpload()">mdi-image</MIcon>
    </div>
    @if (EmojiSelectVisible)
    {
        <div class="comment-popup-emoji">
            <div class="comment-popup-emoji-content">
                @if (emojiList != null && selectedEmoji != null)
                {
                    @foreach (var item in selectedEmoji)
                    {
                        <div class="comment-popup-emoji-content-item" @onclick="() => InsertEmoji(item.UrlPath)">
                            <img src="@item.UrlPath" style="width:100%" />
                            <span>@item.UrlDesc</span>
                        </div>
                    }
                }
            </div>
            <div class="comment-popup-emoji-toolbar">
                @if (emojiList != null)
                {
                    @foreach (var item in emojiList)
                    {
                        <div class="comment-popup-emoji-type-item" @onclick="() => SwitchSelectedEmoji(item.ClassifyId)">
                            <img src="@item.ImgAddr" style="width:100%;" />
                        </div>
                    }
                }
            </div>
        </div>
    }
</Popup>

@code {
    [Parameter]
    public RenderFragment? EditorContent { get; set; }

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback<bool> VisibleChanged { get; set; }

    [Parameter]
    public EventCallback SendComment { get; set; }

    private ElementReference QuillElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }

        // 在评论面板显示后再渲染Quill
        if (Visible == true)
        {
            await QuillInterop.CreateQuill(
                JS,
                QuillElement,
                false,
                "说点什么",
                "snow",
                "info");
        }
    }

    /// <summary>
    /// 表情选择面板可见性
    /// </summary>
    private bool EmojiSelectVisible { get; set; }

    private List<EmojiCategory>? emojiList { get; set; }

    private List<EmojiItem>? selectedEmoji { get; set; }

    private int selectedClassifyId { get; set; }

    private async Task OnVisibleChanged(bool value)
    {
        await VisibleChanged.InvokeAsync(value);
    }

    /// <summary>
    /// 选取图片并上传
    /// </summary>
    /// <returns></returns>
    private async Task<List<FileResult>?> PickAndUpload()
    {
        try
        {
            var results = await MediaPicker.PickPhotosAsync(new MediaPickerOptions
            {
                // 限制选取图片数量（0为不限制）
                SelectionLimit = 0,
                // Optional processing for images
                CompressionQuality = 85,
                RotateImage = false,
                PreserveMetaData = false,
            });

            var uploadUrlList = new List<string>();

            var signatureResponse = await httpTools.PostAsync("/community/signature", null);
            if (signatureResponse != null && signatureResponse.Code == 0 && signatureResponse.Data.HasValue)
            {
                var signature = signatureResponse.Data.Value.Deserialize<SignatureResponse>();

                if (signature != null)
                {
                    foreach (var item in results)
                    {
                        var uploadName = await httpTools.UploadToOSS(signature.Host, signature.Policy, signature.AccessId, signature.Dir, signature.Signature, item);
                        if (!string.IsNullOrEmpty(uploadName))
                        {
                            // 将上传完成的图片地址加入到URL中
                            uploadUrlList.Add($"{signature.CDNHost}/{signature.Dir}{uploadName}");
                            Debug.WriteLine($"OSS图片地址:{signature.CDNHost}/{signature.Dir}{uploadName}");
                        }
                    }
                }

            }

            return results;
        }
        catch (Exception ex)
        {
            // 打印错误信息
            Debug.Fail(ex.Message);
        }

        return null;
    }

    /// <summary>
    /// 切换表情包面板状态
    /// </summary>
    /// <returns></returns>
    private async Task SwitchEmojiList()
    {
        if (EmojiSelectVisible)
        {
            emojiList = [];
            EmojiSelectVisible = false;
        }
        else
        {
            await GetEmojiList();
            EmojiSelectVisible = true;
        }
    }

    /// <summary>
    /// 切换表情包
    /// </summary>
    /// <param name="ClassifyId"></param>
    /// <returns></returns>
    private async Task SwitchSelectedEmoji(int ClassifyId)
    {
        if (emojiList != null)
        {
            var selected = emojiList.Where(it => it.ClassifyId == ClassifyId).First();
            selectedEmoji = selected.EmojiList;
            selectedClassifyId = selected.ClassifyId;
        }
    }

    /// <summary>
    /// 获取表情包列表
    /// </summary>
    /// <returns></returns>
    private async Task GetEmojiList()
    {
        var response = await httpTools.GetAsync("/community/emoji");
        if (response != null && response.Code == 0)
        {
            if (response.Data.HasValue)
            {
                var emojiList = response.Data.Value.Deserialize<EmojiResponse>();
                if (emojiList != null && emojiList.List != null)
                {
                    this.emojiList = emojiList.List;
                    this.selectedEmoji = emojiList.List.First().EmojiList;
                    this.selectedClassifyId = emojiList.List.First().ClassifyId;
                }
            }
        }
    }

    /// <summary>
    /// 插入选定表情
    /// </summary>
    /// <param name="emojiUrl"></param>
    /// <returns></returns>
    private async Task InsertEmoji(string emojiUrl)
    {
        await QuillInterop.InsertQuillEmoji(JS, QuillElement, emojiUrl);
        await QuillInterop.FocusToEnd(JS, QuillElement);
    }

    /// <summary>
    /// 获取HTML内容
    /// </summary>
    /// <returns></returns>
    public async Task<string> GetHTMLContent()
    {
        return await QuillInterop.GetHTML(JS, QuillElement);
    }
}